body {
background: #051120;
margin: 0;
}


.navbar {
background: #0f1b33 !important;
border-bottom: 1px solid #1b2a4a;
}



.layout {
display: flex;
min-height: calc(100vh - 60px);
}


.sidebar {
width: 240px;
flex-shrink: 0;
background: #0f1b33;
border-right: 1px solid #1b2a4a;
padding: 20px;
}

.sidebar-section h5 {
color: white;
margin-bottom: 20px;
}

.sidebar a {
display: block;
text-decoration: none;
color: #cbd7f3;
padding: 10px;
border-radius: 8px;
margin-bottom: 5px;
transition: 0.2s;
}

.sidebar a:hover {
background: #18284a;
color: #4da3ff;
}



.sidebar-separator {
border: none;
border-top: 1px solid #1b2a4a;
margin: 25px 0;
}


.content {
flex: 1;
min-width: 0;
padding: 30px;
}



.page-title {
margin-bottom: 25px;
color: white;
}
